<%- include("partials/header.ejs") %>
    <!-- For transparency, I wanted to make note that I used AI to help me with troubleshooting with some of the features of this website and had no other influence with creating this site. AI helped with a few lines of code, everything else was by hand. -->

    <body>
        <main>
            <header>
                <h1>Anime Randomizer</h1>


                <p>Welcome to the Anime Randomizer where it'll generate a random Anime for your viewing needs. This
                    website will give you general information about the anime it generated from the title to it's
                    rating.
                </p>
                <h3>Please Note:</h3>
                <!-- I used noopener and noreferrer so my JavaScript doesn't interfere with the main website this API is based on -->
                <p>The information displayed here are from <a href="https://myanimelist.net/" target="_blank"
                        rel="noopener noreferrer">MyAnimeList</a> website. Some anime listed here may have incomplete
                    information which will result in some fields being blank. There is also a chance the
                    information
                    posted here could contain <strong>spoilers</strong> for that anime so keep that in mind when using
                    this website.
                </p>
                <p>Generate a new title here or go straight to the <a href="#information">information</a> section.</p>
                <button><a href="/">Generate</a></button>
            </header>



            <!-- With the help of AI, this checks to make sure there is content present on these specific fields, otherwise it'll display a message instead -->
            <% if(list.images && list.images.jpg && list.images.jpg.image_url) { %>
                <img src="<%= list.images.jpg.large_image_url %>" id="cover" alt="cover for a random anime title">
                <% } else { %>
                    <p>No image available</p>
                    <% } %>

                        <% if (list && (list.url===undefined || list.url===null || list.url==="" )) { %>
                            <p class="learn-more">No url is available</p>
                            <% } else if (list && list.url) { %>
                                <p class="learn-more"><a href="<%= list.url %>" target="_blank"
                                        rel="noopener noreferrer">Learn
                                        more</a></p>
                                <% } %>
                                    <section>
                                        <h3>Information:</h3>
                                        <ul>
                                            <!-- With the help of AI, this checks to make sure there is content present on these specific fields, otherwise goes to a alternative that is available -->
                                            <% if(list.title_english===null || list.title_english===undefined ||
                                                list==="" ) { %>
                                                <li>Title: <%= list.title %>
                                                </li>
                                                <% } else { %>
                                                    <li>Title: <%= list.title_english %>
                                                    </li>
                                                    <% } %>
                                                        <% if(list.title_japanese !==undefined && list.title_japanese
                                                            !==null && list.title_japanese !=="" ) { %>
                                                            <li>
                                                                Japanese Title: <%= list.title_japanese %>
                                                            </li>
                                                            <% } %>
                                                                <li>
                                                                    Type of Media: <%= list.type %>
                                                                </li>
                                                                <li>Aired date(s): <%= list.aired.string %>
                                                                </li>
                                                                <li>
                                                                    Number of Episodes: <%= list.episodes %>
                                                                </li>
                                                                <li>
                                                                    Status: <%= list.status %>
                                                                </li>
                                                                <li>
                                                                    Rating: <%= list.rating %>
                                                                </li>
                                                                <li>
                                                                    Producers:
                                                                    <!-- There's a chance for more than one genre to display, if any -->
                                                                    <ul>
                                                                        <% list.producers.forEach(producer=> { %>
                                                                            <li>
                                                                                <%= producer.name %>
                                                                            </li>
                                                                            <% }); %>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    Studios:
                                                                    <ul>
                                                                        <!-- There's a chance for more than one genre to display, if any -->
                                                                        <% list.studios.forEach(studio=> { %>
                                                                            <li>
                                                                                <%= studio.name %>
                                                                            </li>
                                                                            <% }); %>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    Genres:
                                                                    <ul>
                                                                        <!-- There's a chance for more than one genre to display, if any -->
                                                                        <% list.genres.forEach(genre=> { %>
                                                                            <li>
                                                                                <%= genre.name %>
                                                                            </li>
                                                                            <% }); %>
                                                                    </ul>
                                                                </li>
                                        </ul>
                                        <h3>Synopsis:</h3>
                                        <% if (list.synopsis===null || list.synopsis===undefined || list.synopsis==="" )
                                            { %>
                                            <p>No information present at this time.</p>
                                            <% } else { %>
                                                <p>
                                                    <%= list.synopsis %>
                                                </p>
                                                <% } %>
                                                    <% if (locals.error) { %>
                                                        <p>
                                                            <%= error %>
                                                        </p>

                                                        <% } %>
                                    </section>
        </main>

        <%- include("partials/footer.ejs") %>